<!DOCTYPE html>
<html>
  <head>
    <title>Manage Students</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .custom-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body class="bg-gray-100 h-screen flex items-center justify-center">
    <div
      class="bg-white p-8 rounded-lg shadow-lg text-center w-full max-w-3xl custom-shadow"
    >
      <h2 class="text-3xl font-extrabold mb-6 text-gray-800">
        Manage Students
      </h2>
      <table class="table-auto w-full mb-6">
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2">Username</th>
            <th class="px-4 py-2">Exam Access</th>
            <th class="px-4 py-2">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr class="bg-gray-50 hover:bg-gray-100">
            <td class="border px-4 py-2">{{ student.username }}</td>
            <td class="border px-4 py-2">
              {{ 'Yes' if student.get('can_access_exam', False) else 'No' }}
            </td>
            <td class="border px-4 py-2">
              <a
                href="{{ url_for('toggle_access', student_id=student._id) }}"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded transition duration-300 ease-in-out"
              >
                {{ 'Revoke Access' if student.get('can_access_exam', False) else
                'Grant Access' }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="mt-6">
        <form method="POST" action="{{ url_for('grant_all_access') }}">
          <button
            type="submit"
            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
          >
            Grant All Students Access
          </button>
        </form>
      </div>
      <div class="mt-6 flex justify-center space-x-4">
        <a
          href="{{ url_for('view_results') }}"
          class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
          >View Results</a
        >
        <a
          href="{{ url_for('dashboard') }}"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
          >Back to Dashboard</a
        >
        <a
          href="{{ url_for('logout') }}"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
          >Logout</a
        >
      </div>
    </div>
  </body>
</html>
